---
- name: Install fail2ban
  apt:
    name: fail2ban
    state: present

- name: Deploy fail2ban jail configuration
  template:
    src: "{{ fail2ban_jail_local_template }}"
    dest: /etc/fail2ban/jail.local
    owner: root
    group: root
    mode: "0644"
  notify: Restart fail2ban

- name: Ensure fail2ban is enabled and running
  service:
    name: fail2ban
    enabled: yes
    state: started

