---
- name: Ensure UFW is installed
  apt:
    name: ufw
    state: present

- name: Allow required ports
  ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop: "{{ ufw_allowed_ports }}"

- name: Enable UFW
  ufw:
    state: enabled
    logging: on

