---
- name: Create Hetzner server with attached firewall + IPs
  hetzner.hcloud.server:
    name: "{{ hcloud_server_name }}"
    server_type: "{{ hcloud_server_type }}"
    image: "{{ hcloud_image }}"
    location: "{{ hcloud_location }}"
    ssh_keys: "{{ hcloud_ssh_keys }}"
    firewalls:
      - "{{ hcloud_firewall_name }}"
    ipv4: "{{ hcloud_primary_ipv4_name }}"
    ipv6: "{{ hcloud_primary_ipv6_name }}"
    labels: "{{ hcloud_labels }}"
    state: present
  register: hcloud_server

- name: Debug hcloud_server
  ansible.builtin.debug:
    var: hcloud_server

- name: Wait for SSH on new server (IPv4 preferred)
  ansible.builtin.wait_for:
    host: "{{ hcloud_server.hcloud_server.ipv4_address }}"
    port: 22
    timeout: 300

- name: Remove existing SSH host key (if any)
  ansible.builtin.known_hosts:
    path: "~/.ssh/known_hosts"
    name: "{{ hcloud_server.hcloud_server.ipv4_address }}"
    state: absent
  delegate_to: localhost

- name: Add new SSH host key to known_hosts
  ansible.builtin.known_hosts:
    path: "~/.ssh/known_hosts"
    name: "{{ hcloud_server.hcloud_server.ipv4_address }}"
    key: "{{ lookup('pipe', 'ssh-keyscan -H ' + hcloud_server.hcloud_server.ipv4_address) }}"
  delegate_to: localhost


- name: Add the new server to runtime inventory
  add_host:
    name: "{{ hcloud_server.hcloud_server.name }}"
    groups: provisioned
    ansible_host: "{{ hcloud_server.hcloud_server.ipv4_address }}"
    ansible_user: root

- name: Add the new server to in-memory inventory
  ansible.builtin.add_host:
    name: "{{ hcloud_server.hcloud_server.name }}"
    groups: new_servers
    ansible_host: "{{ hcloud_server.hcloud_server.ipv4_address }}"
    ansible_user: root

